<div>


<%
    if @user.is_logged_in? then
%>
        <a href='/user/logout'>Sign out</a>
        <p>Please upload a psd file for us to turn into lovely HTML.</p>
        <%= erb(:upload, :layout => false) %>

<%
        if @message
%>
            <p><%= @message %></p>
<%
        end
%>

<%
   else
%>
        <p>Welcome to HTML Love. If you register (or login for those already registered) you can upload psd files for us to turn into lovely HTML.</p>  
        <%= erb(:login, :layout => false) %>
<%
    end
%>


</div>
