<html>
    <head></head>
    <body>

        <div id="tabs">
            <ul>
                <li><a href="/"><span>Home</span></a></li>

                <% if @user.is_logged_in? then %>
                    <li><a href="/orders"><span>Orders</span></a></li>
                <% end %>

            </ul>


            <%= yield %>

        </div>


    </body>
</html>