<form method="post" action="/user/create">

  <p>Fill in the form and hit register. An email will be sent to you to confirm your registration shortly.</p>

<%
    if @user.errors.count > 0 then
%>
        <ul>
<%
            @user.errors.each do |key, value|
%>
                <li><%= value %></li>
<%
            end
%>
        </ul>
<%
    end
%>
      
    <label for="first_name">First name</label><input type="text" name="first_name" value="<%= @user.first_name %>" />
    <label for="last_name">Last name</label><input type="text" name="last_name" value="<%= @user.last_name %>" />
    <label for="email">Email address</label><input type="text" name="email" value="<%= @user.email %>" />
    <label for="password">Password</label><input type="password" name="password" />
    <input type="submit" id="register" name="register" value="Register" />

</form>